.img {
  background-position: center;
  background-size: cover;
  margin-top: 0rem;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.loading {
  background-color: #232730ff;
  height: 100vh;
}

.btn {
  width: auto;
  height: auto;
  border-radius: 0.4rem;
  padding: 0.6rem;
  margin: 1rem;
  font-family: "Flexo-Demi", arial, sans-serif;
  position: center;
  z-index: 1;
  border: none;
  cursor: pointer;
  color: #eceff4ff;
  background: linear-gradient(to bottom, #434c5eff, #4c566aff);
  box-shadow: 0 0.25rem 0.5rem 0 #232730ff;
  outline: none;
}

.btn:hover {
  color: #eceff4ff;
  box-shadow: 0 0.15rem 0.15rem 0 #929aaaff;
}
