/* CSS HEX */
paleta {
  --raisin-black: #232730ff;
  --gunmetal: #2a2f3aff;
  --gunmetal-2: #2e3440ff;
  --charcoal: #3b4252ff;
  --independence: #434c5eff;
  --independence-2: #4c566aff;
  --slate-gray: #6f788aff;
  --manatee: #929aaaff;
  --gainsboro: #d8dee9ff;
  --alice-blue: #eceff4ff;
}
