.card {
  width: 25rem;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  /* position: relative; */
  padding: 0.1rem;
  box-shadow: 0 0.25rem 0.5rem 0 #2a2f3aff;
  background: #232730ff;
  /* flex-wrap: wrap;
  justify-content: space-evenly; */
}

.cover {
  width: 100%;
  height: 13.75rem;
  margin: 0.3rem auto;
  /* position: relative; */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cover img {
  width: 100%;
  border-radius: 0.4rem 0.4rem;
  margin: 0.3rem auto;
  /* position: relative; */
  padding: 0.1rem;
  /* display: block; */
  top: 0.1rem;
  z-index: 1;
}

.description {
  border-radius: 0.4rem;
  margin: 0.3rem;
  padding: 0.5rem;
  background: linear-gradient(to bottom, #191d24, #1d2129);
}

.description h2 {
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: "Flexo-Demi", arial, sans-serif;
  color: #eceff4ff;
  background: linear-gradient(to bottom, #2e3440ff, #3b4252ff);
}

.tag {
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  font-family: "Flexo-Demi", arial, sans-serif;
  color: #eceff4ff;
  background: linear-gradient(to bottom, #2a2f3aff, #2e3440ff);
}

.btn {
  border: none;
  z-index: 1;
  width: 8rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  /* position: relative; */
  padding: 0.4rem 1.5rem;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-weight: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  /* display: inline-block; */
  color: #eceff4ff;
  background: linear-gradient(to bottom, #434c5eff, #4c566aff);
  box-shadow: 0 0.25rem 0.5rem 0 #232730ff;
  outline: none;
}
.btn:after {
  /* position: absolute; */
  content: "";
  width: 0;
  height: 100%;
  /* top: 0;
  right: 0; */
  z-index: -1;
  background: linear-gradient(to bottom, #d8dee9ff, #eceff4ff);
  border-radius: 0.4rem;
  box-shadow: 0 0.25rem 0.5rem 0 #929aaaff;
  transition: all 0.3s ease;
}
.btn:hover {
  color: #232730ff;
}
.btn:hover:after {
  left: 0;
  width: 100%;
}
.btn:active {
  top: 0.125rem;
}
