.landingImg {
  width: 100%;
  height: 100%;
  background-image: url("../Styles/img/fondo.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 0rem;
  position: relative;
  border-radius: 0.4rem;
}
.landing {
  background: linear-gradient(#232730, #434c5e);
  height: 100vh;
}

.btn {
  border: none;
  background: linear-gradient(#232730, #434c5e);
  width: 8.5rem;
  height: 5rem;
  border-radius: 0.4rem;
  position: relative;
  top: 3rem;
  right: 0rem;
  padding: 0.4rem 1.5rem;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-weight: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  color: #eceff4ff;
  background: linear-gradient(to bottom, #2a2f3aff, #2e3440ff);
  box-shadow: 0 0.25rem 0.5rem 0 #232730ff;
  outline: none;
}
.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #d8dee9ff, #eceff4ff);
  border-radius: 0.4rem;
  box-shadow: 0 0.25rem 0.5rem 0 #929aaaff;
  transition: all 0.3s ease;
}
.btn:hover {
  color: #232730ff;
}
.btn:hover:after {
  left: 0;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
  padding: 0rem;
  border: 0rem;
  margin-bottom: 0rem;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-weight: 1rem;
  color: #eceff4ff;
}
